# REST (Auth0)
Auth0_Audience=
Auth0_ClientId=
Auth0_ClientSecret=
Auth0_Domain=
Auth0_Authority=
REDIS_CONNECTION_STRING=
# Graph
GRAPH_POSTGRES_USER=
GRAPH_POSTGRES_PASSWORD=
GRAPH_POSTGRES_DB=graphb
GRAPH_DATABASE_URL=

# SOAP
SOAP_POSTGRES_USER=
SOAP_POSTGRES_PASSWORD=
SOAP_POSTGRES_DB=
SOAP_CONNECTION_STRING=
PGADMIN_MAIL=
PGADMIN_PW=

# WebSocket
WEBSOCKET_DATABASE_URL=
WEBSOCKET_PORT=
